@using CareMatch.Models
@{
    ViewBag.Title = "AccountOverzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('a').onclick = function() {
            if ($(this).val() == 'Reset') {
                $("#cont").text(" ");
                $("#cont").append('<form action="@Url.Action("ResetWachtwoord", "Beheerder", new { id = Request.QueryString["gebruikerid"]})"><input type="text" class="form-control" /><span class="input-group-addon" ><input type="button" class="btn btn-default" value="OK" id="a" style="padding-right: 3px;padding-left: 3px;padding-bottom: 3px;padding-top: 3px;height: 22px;"/></span></form>');
            }
            else if ($(this).val() == 'OK'){
                $("#cont").text(" ");
                $("#cont").append('<input type="hidden" class="btn btn-default" value="" name="gebruikerid"> <input type="button" id="a" class="btn btn-default" value="Reset" name="knopjes">');
            }
        };
        });
		   
</script>
<a href="@Url.Action("Index", "Beheerder")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
<br />
<div class="overzichtTitle">
    <div>
        <h2>Account Overzicht</h2>
    </div>
    <div class="dropdown">
        <form action="" method="get">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Filter op: @ViewBag.filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("AccountOverzicht", "Beheerder", new { id = 0})'>Alle Gebruikers</a></li>
                <li><a href='@Url.Action("AccountOverzicht", "Beheerder", new { id = 1})'>Vrijwilligers</a></li>
                <li><a href='@Url.Action("AccountOverzicht", "Beheerder", new { id = 2})'>Hulpbehoevende</a></li>
                <li><a href='@Url.Action("AccountOverzicht", "Beheerder", new { id = 3})'>Niet goedgekeurde vrijwilligers</a></li>
                <li><a href='@Url.Action("AccountOverzicht", "Beheerder", new { id = 4})'>Vrijwilligers zonder VOG</a></li>
            </ul>
        </form>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.filter</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>Gebruikersnaam</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Rol</th>
                <th>VOG</th>
                <th>Wachtwoord</th>
                <th>Approved</th>
                <th>Set beheerder</th>
            </tr>
            @foreach (CareMatch.Models.Gebruiker gebruiker in ViewBag.GebruikerList)
            {
            
                
                
                <tr>
                    <td>@gebruiker.Gebruikersnaam</td>
                    <td>@gebruiker.Voornaam</td>
                    <td>@gebruiker.Achternaam</td>
                    <td>@gebruiker.Rol</td>
                    <td>
                        @if (!string.IsNullOrEmpty(gebruiker.VOG))
                        {
                            <a href="@Url.Action("DownloadFile", "Beheerder", new { gebruiker = gebruiker.Gebruikersnaam, file = gebruiker.VOG })">@gebruiker.VOG</a>
                        }
                    </td>
                    <td>
                        <div class="input-group" id="cont">
                            <form method="get">
                                <input type="hidden" class="btn btn-default" value="@gebruiker.GebruikersID" name="gebruikerid">
                                <input type="button" id="a" class="btn btn-default" value="Reset" onclick="">
                            </form>
                        </div>
                    </td>
                    @if (gebruiker.Approved)
                    {
                        <td><h4>✔</h4></td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("GebruikerAccepteren", "Beheerder", new { id = gebruiker.GebruikersID })" class="btn btn-primary">Approve</a>
                        </td>
                    }
                    @if (gebruiker.Rol.ToLower() == "vrijwilliger")
                    {
                        <td>
                            <a href="@Url.Action("GebruikerSetBeheerder", "Beheerder", new {id = gebruiker.GebruikersID})" class="btn btn-primary">SetBeheerder</a>
                        </td>
                    }
                    else if (gebruiker.Rol.ToLower() == "beheerder")
                    {
                        <td>
                            <h4>✔</h4>
                        </td>
                    }
                    else
                    {
                        <td>
                            <h4>&#10008</h4>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
