
@{
    ViewBag.Title = "Hulpvraag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("HulpvragenOverzicht", "Beheerder")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Sluiten</a><br />

<form method="get" action="@Url.Action("HulpvraagVerwijderen", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">       
    <input type="submit" value="Hulpvraag verwijderen" name="hulpvraag" class="btn btn-primary btn-lg">
</form>

@{ if (@ViewBag.hulpvraag.Beoordeling != "")
    {
        <form method="get" action="@Url.Action("BeoordelingVerwijderen", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">
            <input type="submit" value="Beoordeling verwijderen" name="hulpvraag" class="btn btn-primary btn-lg">
        </form>

    }
 }
<form method="get" action="@Url.Action("HulpvraagDerapporteren", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">
    <input type="submit" value="Hulpvraag goedkeuren" name="hulpvraag" class="btn btn-primary btn-lg">
</form>

<br/>
<h2>Ongepaste Hulpvraag</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvraag: @ViewBag.Hulpvraag.Titel</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Omschrijving</th>
                    <td>@ViewBag.Hulpvraag.HulpvraagInhoud</td>
                </tr>
                <tr>
                    <th>Vrijwilliger</th>
                    <td>@ViewBag.Hulpvraag.Vrijwilliger</td>
                </tr>
                <tr>
                    <th>Locatie</th>
                    <td>@ViewBag.Hulpvraag.Locatie</td>
                </tr>
                <tr>
                    <th>Plaatsnaam</th>
                    <td>@ViewBag.Hulpvraag.Plaatsnaam</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@ViewBag.Hulpvraag.Titel</td>
                </tr>
                <tr>
                    <th>Hulpbehoevende</th>
                    <td>@ViewBag.Hulpvraag.Hulpbehoevende</td>
                </tr>
@{ if (@ViewBag.hulpvraag.Beoordeling != "")
    {
                <tr>
                    <th>Cijfer</th>
                    <td>@ViewBag.hulpvraag.Cijfer/5</td>
                </tr>
                <tr>
                    <th>Beoordeling</th>
                    <td>@ViewBag.hulpvraag.Beoordeling</td>
                </tr>
        }
    }

            </tbody>
        </table>
    </div>
</div>