
@{
    ViewBag.Title = "Hulpvraag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CareMatch.Models.Gebruiker h = ViewData["h"] as CareMatch.Models.Gebruiker;
}
<a href="@Url.Action("HulpvragenOverzicht", "Beheerder")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Sluiten</a><br />

<form method="get" action="@Url.Action("HulpvraagVerwijderen", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">       
    <input type="submit" value="Hulpvraag verwijderen" name="hulpvraag" class="btn btn-primary btn-lg">
</form>

@{ if (@ViewBag.hulpvraag.Beoordeling != "")
    {
        <form method="get" action="@Url.Action("BeoordelingVerwijderen", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">
            <input type="submit" value="Beoordeling verwijderen" name="hulpvraag" class="btn btn-primary btn-lg">
        </form>

    }
 }
<form method="get" action="@Url.Action("HulpvraagDerapporteren", "Beheerder", new { id = ViewBag.Hulpvraag.HulpvraagID })" class="rechterKnop">
    <input type="submit" value="Hulpvraag goedkeuren" name="hulpvraag" class="btn btn-primary btn-lg">
</form>

<br/>
<h2>Ongepaste Hulpvraag</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvraag: @ViewBag.Hulpvraag.Titel</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Omschrijving</th>
                    <td>@ViewBag.Hulpvraag.HulpvraagInhoud</td>
                </tr>
                <tr>
                    <th>Vrijwilliger</th>
                    <td>@ViewBag.Hulpvraag.Vrijwilliger</td>
                </tr>
                <tr>
                    <th>Locatie</th>
                    <td>@ViewBag.Hulpvraag.Locatie</td>
                </tr>
                <tr>
                    <th>Plaatsnaam</th>
                    <td>@ViewBag.Hulpvraag.Plaatsnaam</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@ViewBag.Hulpvraag.Titel</td>
                </tr>
                <tr>
                    <th>Hulpbehoevende</th>
                    <td><a data-toggle="modal" data-target="#Hulpbehoevende" >@ViewBag.Hulpvraag.Hulpbehoevende</a></td>
                </tr>
@{ if (@ViewBag.hulpvraag.Beoordeling != "")
    {
                <tr>
                    <th>Cijfer</th>
                    <td>@ViewBag.hulpvraag.Cijfer/5</td>
                </tr>
                <tr>
                    <th>Beoordeling</th>
                    <td>@ViewBag.hulpvraag.Beoordeling</td>
                </tr>
        }
    }

            </tbody>
        </table>
    </div>
</div>
<div id="Hulpbehoevende" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profiel van: @h.Gebruikersnaam</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Voornaam</th>
                        <td>@h.Voornaam</td>
                    </tr>
                    <tr>
                        <th>Tussenvoegsel</th>
                        <td>@h.Tussenvoegsel</td>
                    </tr>
                    <tr>
                        <th>Achternaam</th>
                        <td>@h.Achternaam</td>
                    </tr>
                    <tr>
                        <th>Geboortedatum</th>
                        <td>@h.GeboorteDatum.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th>Gebruikersinfo</th>
                        <td>@h.GebruikerInfo</td>
                    </tr>
                    <tr>
                        <th>Pasfoto</th>
                        <td><img class="img-responsive pasfoto" src="@System.Web.VirtualPathUtility.ToAbsolute(@"~/Fotos/" + h.Pasfoto)" name="img" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div>

    </div>
</div>