
@{
    ViewBag.Title = "HulpvragenOverzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hulpvragen Overzicht</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvragen Overzicht</h3>
    </div>
    <div class="panel-body">
        @{ if (ViewBag.Hulpvraaglist.Count == 0)
            {
                <h3>Er bestaan nog geen hulpvragen.</h3>
            }
            else
            {
                <table class="table-striped table-hover">
                    <thead>
                    <th>Titel</th>
                    <th>Urgent</th>
                    <th>Datum</th>
                    <th></th>
                    </thead>
                    <tbody>
                        @foreach (CareMatch.Models.Hulpvraag hulpvraag in ViewBag.Hulpvraaglist)
                        {
                            <tr>
                                <td>@hulpvraag.Titel</td>
                                <td>@hulpvraag.Urgent</td>
                                <td>@hulpvraag.DatumTijd.ToString()</td>
                                <td><a type="button" class="btn btn-info" href='@Url.Action("Hulpvraag", new { id = @hulpvraag.HulpvraagID})'>Aanpassen</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

