
@{
    ViewBag.Title = "Hulpvraag Wijzigen";
    Layout = "~/Views/Shared/_Simple.cshtml";
    CareMatch.Models.Hulpvraag h = ViewData["Hulpvraag"] as CareMatch.Models.Hulpvraag;
}
<a href="@Url.Action("HulpvragenOverzicht", "Hulpbehoevende")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Sluiten</a>
<h2>Hulpvragen Wijzigen</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvraag: @h.Titel</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("HulpvraagWijzigen", "Hulpbehoevende")">
            <input type="hidden" value="@h.HulpvraagID" name="id"/>
            <div class="checkbox">
                @if (h.Urgent)
                {
                    <label>
                        <input type="checkbox" name="Urgent" checked> Urgent
                    </label>
                }
                else
                {
                    <label>
                        <input type="checkbox" name="Urgent"> Urgent
                    </label>
                    
                }
                @if (h.Auto)
                {
                    <label>
                        <input type="checkbox" name="Auto" checked> Auto Benodigd
                    </label>
                }
                else
                {
                    <label>
                        <input type="checkbox" name="Auto"> Auto Benodigd
                    </label>
                }
            </div>
            <div>
            <div class="FormLinks">
                <label>Plaatsnaam:</label><br />
                <input type="text" class="form-control" id="Plaatsnaam" placeholder="Eindhoven" name="Plaatsnaam" value="@h.Plaatsnaam"/>
                <label>Straatnaam & Huisnummer:</label><br />
                <input type="text" class="form-control" id="StraatEnHuisnummer" placeholder="Willemstraat 34" name="StraatEnHuisnummer" value="@h.Locatie"/>                 
            </div>
            <div class="FormRechts">
                <label>Start Datum :</label><br />
                <input type="date" value="@Convert.ToDateTime(h.StartDatum).ToString("yyyy-MM-dd")" name="Datum" /><br/>
                <label>Start Tijd :</label><br />
                <input type="time" value="@Convert.ToDateTime(h.StartDatum).TimeOfDay" name="Tijd" /><br/>
                <label>Duur :</label><br />
                <input type="time" name="Duur" value="@Convert.ToDateTime(h.EindDatum).TimeOfDay" />
            </div>
                
            </div>
            <br />
            <hr id="hr" />
            <div class="HulpvraagContent">
                <label>Titel van de Hulpvraag:</label>
                <input type="text" value="@h.Titel" class="form-control" id="KOmschrijving" placeholder="Titel" name="KOmschrijving">
                <label>Omschrijving:</label><br />
                <textarea class="form-control" id="Omschrijving" name="Omschrijving">@h.HulpvraagInhoud</textarea>
            </div>
            <br />
            <hr id="hr" />
            <h4>Status:</h4>
            @{ if (h.Vrijwilliger == "")
                {
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 30%">Ingediend</div>
                    </div>
                    <div class="HulpvraagMenu">
                        <input type="submit" value="Opslaan" class="btn btn-sq-lg btn-warning" onclick="Succes()" />
                    </div>
                }
                else if(h.Beoordeling == "")
                {
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 33%">Ingediend</div>
                        <div class="progress-bar progress-bar-warning" style="width: 33%">Aangenomen</div>
                    </div>
                    <h4>Deze hulpvraag is aangenomen door: <strong>@h.Vrijwilliger</strong>. Hieronder kunt u <strong>@h.Vrijwilliger</strong> beoordelen.</h4>
                }
                else if (h.Beoordeling != "")
                {
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 33%">Ingediend</div>
                        <div class="progress-bar progress-bar-warning" style="width: 33%">Aangenomen</div>
                        <div class="progress-bar progress-bar-success" style="width: 34%">Beoordeeld</div>
                    </div>
                    <h4>Deze hulpvraag is uitgevoerd door: <strong>@h.Vrijwilliger</strong>. Hieronder kunt u uw beoordeling vinden.</h4>
                }
            }
        </form>      
        @{
            if (h.Beoordeling == "" && h.Vrijwilliger != "")
            {
                <form method="post" name="beoordeling" action="@Url.Action("HulpvraagBeoordelen", "Hulpbehoevende")">
                    <fieldset>
                        <input type="hidden" value="@h.HulpvraagID" name="id" />
                        <label>Cijfer:</label><br />
                        <span class="starRating">
                            <input id="rating5" type="radio" name="Cijfer" value="5">
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="Cijfer" value="4">
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="Cijfer" value="3" checked>
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="Cijfer" value="2">
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="Cijfer" value="1">
                            <label for="rating1">1</label>
                        </span>
                        <br />
                        <label>Beoordeling:</label><br />
                        <textarea class="form-control" id="Omschrijving" name="Beoordeling"></textarea>
                        <input type="submit" value="Indienen" class="btn btn-sq-lg btn-warning" onclick="Succes()" />
                    </fieldset>
                </form>
            }
            else if(h.Beoordeling != "")
            {
                <p><strong>Cijfer</strong>: @h.Cijfer <br />
                   <strong>Beoordeling</strong>: @h.Beoordeling</p>
                
            }
        }
    </div>
</div>

@*<a href='@Url.Action("Rapporteer", "Hulpbehoevende")' class="btn btn-sq-lg btn-warning" id="rapporteer">
    <i class="fa fa-user fa-5x"></i>
    <b>Rapporteer hulpvraag</b><br>
</a>*@