
@{
    ViewBag.Title = "Hulpvraag Wijzigen";
    Layout = "~/Views/Shared/_Simple.cshtml";
    CareMatch.Models.Hulpvraag h = ViewData["Hulpvraag"] as CareMatch.Models.Hulpvraag;
}
<a href="@Url.Action("HulpvragenOverzicht", "Hulpbehoevende")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Sluiten</a>
<h2>Hulpvragen Wijzigen</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvraag: @h.Titel</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("HulpvraagWijzigen", "Hulpbehoevende")">
            <input type="hidden" value="@h.HulpvraagID" name="id"/>
            <div class="checkbox">
                @if (h.Urgent)
                {
                    <label>
                        <input type="checkbox" name="Urgent" checked> Urgent
                    </label>
                }
                else
                {
                    <label>
                        <input type="checkbox" name="Urgent"> Urgent
                    </label>
                    
                }
                @if (h.Auto)
                {
                    <label>
                        <input type="checkbox" name="Auto" checked> Auto Benodigd
                    </label>
                }
                else
                {
                    <label>
                        <input type="checkbox" name="Auto"> Auto Benodigd
                    </label>
                }
            </div>
            <div>
            <div class="FormLinks">
                <label>Plaatsnaam:</label><br />
                <input type="text" class="form-control" id="Plaatsnaam" placeholder="Eindhoven" name="Plaatsnaam" value="@h.Plaatsnaam"/>
                <label>Straatnaam & Huisnummer:</label><br />
                <input type="text" class="form-control" id="StraatEnHuisnummer" placeholder="Willemstraat 34" name="StraatEnHuisnummer" value="@h.Locatie"/>                 
            </div>
            <div class="FormRechts">
                <label>Start Datum :</label><br />
                <input type="date" value="@Convert.ToDateTime(h.StartDatum).ToString("yyyy-MM-dd")" name="Datum" /><br/>
                <label>Start Tijd :</label><br />
                <input type="time" value="@Convert.ToDateTime(h.StartDatum).TimeOfDay" name="Tijd" /><br/>
                <label>Duur :</label><br />
                <input type="time" name="Duur" value="@Convert.ToDateTime(h.EindDatum).TimeOfDay" />
            </div>
                
            </div>
            <br />
            <hr id="hr" />
            <div class="HulpvraagContent">
                <label>Titel van de Hulpvraag:</label>
                <input type="text" value="@h.Titel" class="form-control" id="KOmschrijving" placeholder="Titel" name="KOmschrijving">
                <label>Omschrijving:</label><br />
                <textarea class="form-control" id="Omschrijving" name="Omschrijving">@h.HulpvraagInhoud</textarea>
            </div>
            <br />
            <h4>Status:</h4>
            @{ if (h.Vrijwilliger == "")
                {
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 30%">Ingediend</div>
                    </div>
                    <div class="HulpvraagMenu">
                        <input type="submit" value="Opslaan" class="btn btn-sq-lg btn-warning" onclick="Succes()" />
                    </div>
                }
                else
                {
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 33%">Ingediend</div>
                        <div class="progress-bar progress-bar-warning" style="width: 33%">Aangenomen</div>
                    </div>
                    <h4>Deze hulpvraag is aangenomen door: <strong>@h.Vrijwilliger</strong>. Hieronder kunt u <strong>@h.Vrijwilliger</strong> beoordelen.</h4>
                }
                }
        </form>        
    </div>
</div>

@*<a href='@Url.Action("Rapporteer", "Hulpbehoevende")' class="btn btn-sq-lg btn-warning" id="rapporteer">
    <i class="fa fa-user fa-5x"></i>
    <b>Rapporteer hulpvraag</b><br>
</a>*@