@{
    @model CareMatch.Models.Gebruiker 
    ViewBag.Title = "Profiel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CareMatch.Models.Gebruiker gebruiker = (CareMatch.Models.Gebruiker)Session["Gebruiker"];
}

<a href="@Url.Action("Index", "Hulpbehoevende" )" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
<h2>Profiel</h2>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Uw Profiel</h3>
    </div>
    <div class="panel-body">
        <div>
            <img class="img-responsive foto" src="@System.Web.VirtualPathUtility.ToAbsolute(@"~/Fotos/" + @gebruiker.Pasfoto)" name="img" />
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <fieldset class="form-group">
                <label for="formGroupExampleInput">Nieuw Wachtwoord:</label>
                <input type="password" class="form-control" id="formGroupExampleInput" name="wachtwoord" placeholder="Wachtwoord">
            </fieldset>
            <fieldset class="form-group">
                <label for="formGroupExampleInput">Herhaal Wachtwoord:</label>
                <input type="password" class="form-control" id="formGroupExampleInput"  name="hwachtwoord" placeholder="Herhaal Wachtwoord">
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleTextarea">Vertel over uzelf:</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" name="info" >@(((CareMatch.Models.Gebruiker)Session["Gebruiker"]).GebruikerInfo)</textarea>
            </fieldset>
            <label for="Pasfoto" class="col-lg-2 control-label">Pasfoto</label>
            <div class="col-lg-10">
                <input type="file" required accept="Image/*" class="form-control" id="Pasfoto" value="@gebruiker.Pasfoto" placeholder="Pasfoto" name="pasfoto">
            </div>
            <br /><br />
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>
 </div>