
@{
    ViewBag.Title = "Hulpvragen Overzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CareMatch.Models.Hulpvraag> hulpvragen = ViewData["Hulpvragen"] as List<CareMatch.Models.Hulpvraag>;
}
<a href="@Url.Action("Index", "Vrijwilliger")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
<br />
<div class="overzichtTitle">
    <div>
        <h2>Hulpvragen Overzicht</h2>
    </div>
    <div class="dropdown">
        <form method="get">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Filter op: @Request.QueryString["filter"]
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("HulpvragenOverzicht", new { filter = "Alle hulpvragen"})'>Alle Hulpvragen</a></li>
                <li><a href='@Url.Action("HulpvragenOverzicht", new { filter = "Urgent"})'>Alle Urgente Hulpvragen</a></li>
                <li><a href='@Url.Action("HulpvragenOverzicht", new { filter = "Auto"})'>Auto nodig</a></li>
                <li><a href='@Url.Action("HulpvragenOverzicht", new { filter = "Eigen hulpvragen"})'>Eigen Hulpvragen</a></li>
            </ul>
        </form>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hulpvragen Overzicht</h3>
    </div>
    <div class="panel-body">
        @{ if (hulpvragen.Count == 0)
            {
                <h3>Er bestaan nog geen hulpvragen.</h3>
            }
            else {
                <table class="table table-striped table-hover">
                    <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Auto nodig</th>
                    <th>Urgent</th>
                    <th></th>
                    </tr>
                    <tbody>
                        @foreach (CareMatch.Models.Hulpvraag hulpvraag in hulpvragen)
                        {
                            <tr>
                                <td>@hulpvraag.Titel</td>
                                <td>@hulpvraag.StartDatum.ToString()</td>
                                @if (@hulpvraag.Auto)
                                {
                                    <td><h4>✔</h4></td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                                @if (@hulpvraag.Urgent)
                                {
                                    <td><h4>✔</h4></td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                                <td><a type="button" class="btn btn-info" href='@Url.Action("Hulpvraag", new { id = @hulpvraag.HulpvraagID})'>Bekijk</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
