@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Uitloggen", "Login")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Uitloggen</a>
<h2>Index</h2>


<a href="@Url.Action("HulpvragenOverzicht", "Vrijwilliger")" class="btn btn-sq-lg btn-warning">
    <i class="fa fa-user fa-5x"></i><br />
    <b>Hulpvragen Overzicht</b><br><br /><br />
</a>
<a href="@Url.Action("ChatBarcode", "Vrijwilliger")" class="btn btn-sq-lg btn-warning">
    <i class="fa fa-user fa-5x"></i><br />
    <b>Barcode Chat</b><br><br /><br />
</a>
<a href="@Url.Action("Index", "Chat")" class="btn btn-sq-lg btn-warning">
    <i class="fa fa-user fa-5x"></i><br />
    <b>Chatten</b><br><br /><br />
</a>
<a href="@Url.Action("Profiel", "Vrijwilliger")" class="btn btn-sq-lg btn-warning">
    <i class="fa fa-user fa-5x"></i><br />
    <b>Profiel</b><br><br /><br />
</a>